.auth-wrapper {
  .auth-aside {
    background-image: url("./../../../../_metronic/_assets/Images/authImg.png");
    background-size: 75%;
    background-position: center;
    background-color: #f5f6fa;
    height: 100%;
    border-radius: 40px;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
  .auth-content {
    background-color: #ffffff;
    border-radius: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 82%;
    .reset-wrapper,
    .login-wrapper,
    .otp-wrapper,
    .forget-wrapper {
      width: 88%;
    }
  }
  .otp-wrapper,
  .forget-wrapper {
    .hint-text {
      font-size: 0.97rem;
    }
  }
  .forgot-password {
    color: #b5b5b5;
    font-size: 12px;
    text-decoration: underline;
    &:hover {
      color: #d0d0d0 !important;
    }
  }
}
